* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f2f2f2;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
}

/* SOBRE A LOJA */
    .sobre {
        display: flex;
        gap: 30px;
        margin-bottom: 40px;
        align-items: center;
    }

    .sobre img {
        width: 100%;
        max-width: 500px;
        height: 300px;
        object-fit: cover;
        border-radius: 8px;
    }


    .sobre-texto {
        width: 50%;
    }

.sobre-texto h2 {
    margin-bottom: 10px;
}

/* PRODUTOS */
.produtos h2 {
    margin-bottom: 20px;
}

.lista-produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.produto {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
}

.produtos h2 {
    border-bottom: 1px solid #007bff;
}

.produto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}


.produto button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

/* ========================= */
/* 📱 MOBILE - até 640px */
/* ========================= */
@media (max-width: 640px) {

    .sobre {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .sobre img {
        width: 100%;
        height: 250px;
    }
    .sobre-texto {
        width: 100%;
    }

    .lista-produtos {
        grid-template-columns: 1fr;
    }
}


@media (min-width: 641px) and (max-width: 1023px) {

    .lista-produtos {
        grid-template-columns: repeat(2, 1fr);
    }

    .container {
        height: 641px;
        width: 1023px;
        display: flex;
    }

    .sobre {
        width: 50%;
    }

    .produtos {
        width: 50%;
        height: 641px;
    }

    .sobre img {
        width: 450px;
    }
    

    .produto {
        height: 150,25px;
        width: 122,87px;
    }

    .produto img {
        height: 135px;
        width: 135px;
    }

    .produtos button {
        width: 200px;
    }

    .sobre {
        display: block;
    }

    .sobre h2 {
        border-bottom: 1px solid #007bff;
        font-size: 18.72px;
    }


}